<%-include('../cabecalho.ejs');%>   

<form method="post">
    <input type="text" class="pesquisa" name="pesquisa">
    <input type="submit" class="btn_pesquisa" value="Pesquisar">
</form>

<table>
        <tr>
            <!--<th>Id</th>-->
            <th>Nome</th>
            <th>logo</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        <% Marcas.forEach(function(marca){  %>
        <tr>
            <!--<td><%=marca._id%></td>-->
            <td><%=marca.nome%></td>
            <td>
                <img class="foto-user" src="/fotos/<%=marca.logo%>">                
            </td>
            <td>
                <a href="/marca/edt/<%=marca._id%>">
                    <img src="/images/edit.png">
                </a>
            </td>
            <td>
                <a href="/marca/del/<%=marca._id%>">
                    <img src="/images/lixeira.png">
                </a>
            </td>
        </tr>
        <% }) %>
    </table>
<%-include('../rodape.ejs');%>