<%-include('../cabecalho.ejs');%>
   <form method="post" enctype="multipart/form-data">
        Id: <input type="text" readonly name="id" value="<%=Roupa._id%>">   
        Nome: <input type="text" name="nome" 
        placeholder="Digite o nome da peça" required value="<%=Roupa.nome%>"><br>
        Tamanho: <input type="text" name="tamanho" 
        placeholder="Digite o tamanho da roupa" required value="<%=Roupa.email%>"><br>
        Marca: 
        <select name="marca">
            <option value="">Escolha a marca da roupa</option>
            <% Marcas.forEach(function(marca){ %>
                <option value="<%=marca._id%>"><%=marca.nome%></option>
            <% }) %> 
        </select>
        <br>
        Foto: <input required type="file" name="foto"><br>
        <input type="submit" value="Enviar">
   </form> 
<%-include('../rodape.ejs');%>