<%-include('../cabecalho.ejs');%>   

<form method="post">
    <input type="text" class="pesquisa" name="pesquisa">
    <input type="submit" class="btn_pesquisa" value="Pesquisar">
</form>

<table>
        <tr>
            <!--<th>Id</th>-->
            <th>Nome</th>
            <th>Tamanho</th>
            <th>Marca</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        <% Roupas.forEach(function(roupa){  %>
        <tr>
            <!--<td><%=roupa._id%></td>-->
            <td><%=roupa.nome%></td>
            <td><%=roupa.tamanho%></td>
            <td>
                <img class="foto-user" src="/fotos/<%=roupa.marca.logo%>">
            </td>
            <td>
                <img class="foto-user" src="/fotos/<%=roupa.foto%>">                
            </td>
            <td>
                <a href="/roupa/edt/<%=roupa._id%>">
                    <img src="/images/edit.png">
                </a>
            </td>
            <td>
                <a href="/roupa/del/<%=roupa._id%>">
                    <img src="/images/lixeira.png">
                </a>
            </td>
        </tr>
        <% }) %>
    </table>
<%-include('../rodape.ejs');%>