<%-include('../cabecalho.ejs');%>
   <form method="post" enctype="multipart/form-data">
        Id: <input type="text" readonly name="id" value="<%=Integrante._id%>">   
        Nome: <input type="text" name="nome" 
        placeholder="Digite seu nome" required value="<%=Integrante.nome%>"><br>
        Email: <input type="email" name="email" 
        placeholder="Digite a descrição do projeto" required value="<%=Integrante.email%>"><br>
        Endereço: <input type="text" name="endereco" required placeholder="Digite seu endereço" value="<%=Integrante.endereco%>"><br>
        Projeto: 
        <select name="projeto">
            <option value="">Escolha o projeto do integrante</option> 
        </select>
        <br>
        Foto: <input required type="file" name="foto"><br>
        <input type="submit" value="Enviar">
   </form> 
<%-include('../rodape.ejs');%>